body, html {
    height: 100%;
    margin: 0;
  }
  
  .Lobby-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
    text-align: center;
    margin: 20px;
  }
  
  .Lobby h1 {
    font-size: 3em; 
    margin-bottom: 20px;
  }
  
  .Lobby ul {
    list-style-type: none;
    padding: 0;
  }
  
  .Lobby li {
    margin: 15px 0;
  }
  
  .Lobby a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.5em; 
  }
  
  .Lobby a:hover {
    text-decoration: underline;
  }
  
  .Lobby img {
    width: 300px; 
    margin-top: 20px;
    border-radius: 8px; 
  }
  
  